<header id="1f363489-9f7b-40a2-8381-5dc33ee909ba">
  
  
  &lt;% if (condition) { %&gt;
    
  &lt;% } %&gt;
<h1 id="efda654c-804e-49da-bb65-5364f5a40e23">This is a counter</h1><button data-interaction="input" data-event-type="click" data-name="counter" id="96f36f0f-6d86-4370-a68f-199a6bf7948a">
    Click
    
  <span data-interaction="update" data-name="count" id="031fe1a3-57dc-4b56-92a9-e19daebc2cb4"></span></button><p id="af70845f-4c3a-45d4-a50f-4d0d739dca6d">This is paragraph</p></header>