<header>
  <button
    data-interaction="input"
    data-event-type="click"
    data-name="counter"
    id="32bcada8-63c4-4170-a0a2-c6974258a0af"
  >
    Add 1</button
  ><span
    data-interaction="update"
    data-name="count"
    id="ddbc8192-d9eb-410b-b1b0-9d68cf457889"
    class="header_count_b549bb86-4787-47b7-a69a-37841f6eceea"
    >12</span
  >
  <h1
    data-interaction="input"
    data-event-type="click"
    data-name="title"
    id="6081df1f-c882-4a68-94ac-9a0081af9af6"
    class="header_title_ccf7d901-c244-49c0-8f7f-c12a7847d1a3"
  >
    this is a header
  </h1>
  <div>
    &lt;% array.forEach(element =&gt; { %&gt; &lt;% }) %&gt;

    <li>&lt;%=element</li>
  </div>
</header>
